<div></div>

      <table>
        <thead>
            <tr>
              <th colspan="7" id="title"> Club Details </th>
            </tr>
            <tr>
              <th>Name</th>
              <th>Wins</th>
              <th>Defeats</th>
              <th>Draws</th>
              <th>Goals Scored</th>
              <th>Goals Received</th>
              <th>Points</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let club of clubsList">
            <td> {{club.nameOfClub}} </td>
            <td> {{club.wins}} </td>
            <td> {{club.defeats}} </td>
            <td> {{club.draws}} </td>
            <td> {{club.goalsScored}} </td>
            <td> {{club.goalsReceived}} </td>
            <td> {{club.points}} </td>
          </tr>
        </tbody>
      </table>

      <div>

      <button (click)="sortBy(0)"> Sort by Points </button>
      <button (click)="sortBy(1)"> Sort by Wins </button>
      <button (click)="sortBy(2)"> Sort by Goal Difference </button>

    </div>